* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

.container {
  width: 1031px;
  padding: 0 auto;
  margin: 0 auto;
}

.hero-section > .container {
  display: flex;
}

.hero-section {
  background: linear-gradient(90deg, #36526A 5.74%, rgba(55, 107, 151, 0) 93.38%), url("../img/section1.jpg");
  background-size: cover;
  display: flex;
  padding-top: 25px;
}
.hero-section_text {
  width: 298px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-top: 149px;
}
.hero-section_view {
  width: 298px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
}
.hero-section_arrow {
  margin-left: 40px;
}
.hero-section_button {
  margin-top: 40px;
}
.hero-section_div1 {
  width: 717px;
}
.hero-section_socials {
  height: 600px;
  margin-top: 52px;
  padding: 124px 59px 0 629px;
  background: url("../img/hero-people.png");
}
.hero-section_switch {
  font-family: "Hammersmith One";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
  padding-left: 500px;
}
.hero-section_item {
  margin-top: 26px;
  fill: #FFFFFF;
}
.hero-section_item:first-child {
  margin-top: 0;
}
.hero-section_svg {
  fill: #FFFFFF;
}

.hero-section_button,
.trailer-section_button {
  display: block;
  width: 260px;
  height: 80px;
  background: #0B0E66;
  border: 3px solid #26C7EA;
  border-radius: 45px 0px;
  padding: 0 30px;
  font-family: "Headland One";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #26C7EA;
}

.quotation-section {
  padding: 73px 0 10px;
}

.quotation-section_title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  color: #0A3853;
}

.quotation-section_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin-top: 16px;
}

.quotation-section_img {
  margin: 8px auto 0;
  display: block;
}

.trailer-section {
  padding: 310px 0;
  background: url("../img/trailer-section.jpg");
  background-size: cover;
}

.trailer-section_button {
  margin: 0 auto;
}

.tongue-section {
  padding: 32px 0 43px;
  background: url("../img/quotation-logo.jpg");
  background-size: cover;
}

.tongue-section_list {
  display: flex;
  flex-wrap: wrap;
  width: 1033px;
  justify-content: space-between;
}

.tongue-section_item {
  background: rgba(255, 255, 255, 0.7);
  width: 320px;
  height: 240px;
  padding: 36px 0;
}

.tongue-section_item:nth-child(n+4) {
  margin-top: 24px;
}

.tongue-section_title {
  font-family: "Headland One";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #141414;
}

.tongue-section_text {
  font-family: "Headland One";
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #141414;
}

.tongue-section_img {
  display: block;
  margin: 40px auto 0;
}

.tongue-section_explanation {
  font-family: "Headland One";
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin-top: 40px;
}

.footer-section {
  height: 268px;
  background: url("../img/footer.jpg");
  background-size: cover;
}/*# sourceMappingURL=main.css.map */