.hero-section>.container {
    display: flex;
}

.hero-section {
    background: linear-gradient(90deg, $hero-background-color 5.74%, $hero-rbga 93.38%), url('../img/section1.jpg');
    background-size: cover;
    display: flex;
    padding-top: 25px;

    &_text {
        width: 298px;
        @include text-style(400, 20px, 1.2, 'Inter', start);
        color: $main-section-color;
        margin-top: 149px;
    }

    &_view {
        width: 298px;
        @include text-style(400, 20px, 1.2, 'Inter', start);
        color: $main-section-color;
    }

    &_arrow {
        margin-left: 40px;
    }

    &_button {
        margin-top: 40px;
    }

    &_div1 {
        width: 717px;
    }

    &_socials {
        height: 600px;
        margin-top: 52px;
        padding: 124px 59px 0 629px;
        background: url('../img/hero-people.png');
    }

    &_switch {
        @include text-style(400, 20px, 1.25, 'Hammersmith One', center);
        color: $main-section-color;
        padding-left: 500px;
    }

    &_item {
        margin-top: 26px;
        fill: $main-section-color;
        &:first-child {
            margin-top: 0;
        }
    }

    &_svg {
        fill: $main-section-color;
    }
}

.hero-section_button,
.trailer-section_button {
    display: block;
    width: 260px;
    height: 80px;
    background: $trailer-section-background;
    border: 3px solid $trailer-section-color;
    border-radius: 45px 0px;
    padding: 0 30px;
    @include text-style(400, 24px, 1.25, 'Inter', center);
    color: $trailer-section-color;
}
