.tongue-section {
    padding: 32px 0 43px;
    background: url('../img/quotation-logo.jpg');
    background-size: cover;
}

.tongue-section_list {
    display: flex;
    flex-wrap: wrap;
    width: 1033px;
    justify-content: space-between;
}

.tongue-section_item {
    background: $tongue-background-rbga;
    width: 320px;
    height: 240px;
    padding: 36px 0;
}

.tongue-section_item:nth-child(n+4) {
    margin-top: 24px;
}

.tongue-section_title {
    @include text-style(400, 32px, 1.25, 'Headland One', center);
    color: $tongue-section-color;
}

.tongue-section_text {
    @include text-style(400, 32px, 1, 'Headland One', center);
    color: $tongue-section-color;
}

.tongue-section_img {
    display: block;
    margin: 40px auto 0;
}

.tongue-section_explanation {
    @include text-style(400, 32px, 1, 'Headland One', center);
    color: $quotation-section-color;
    margin-top: 40px;
}
