$main-section-color: #FFFFFF;
$tongue-section-color: #141414;
$quotation-section-color: #000000;
$tongue-background-rbga: rgba(255, 255, 255, 0.7);
$quotation-text-color: #0A3853;
$hero-rbga: rgba(55, 107, 151, 0);
$hero-background-color: #36526A;
$trailer-section-color: #26C7EA;
$trailer-section-background: #0B0E66;